
	<div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome to</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">elegance learning</h1>
                        <p class="animate" data-animate="fadeInUp">eLearn is a simple and free online learning platform. Instructors can create courses and students can register for courses which include assignments, quizes and support forums.</p>
                        <a href="/users/register"><button class="btn">Sign up</button></a>
						<P>You need to signup to register for free classes</p>

                    </div>
                </div>
            </div>
