
<div class="section animated-row" data-section="slide07">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-12 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                            {{#if errors}}
			{{#each errors}}
				<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{msg}}
				<a href="#close" class="icon-remove"></a></div>
			{{/each}}
		{{/if}}
                                <h2>Create An Account</h2>
                            </div>
                                    <div class="col-md-14 animate" data-animate="fadeInUp">
                                        <form id="regForm" method="post" action="/users/register">
                                        <div>
											<label>Account Type</label>
											<select name="type">
												<option value="student">Student</option>
												<option value="instructor">Instructor</option>
											</select>
										</div>
										<br />
										<div class="input-field">
                                                <input type="text" name="first_name" class="form-control"required placeholder="Firstname" >
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="last_name" class="form-control" required placeholder="Lastname">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="street_address" class="form-control" required placeholder="street address">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="city" class="form-control" required placeholder="city">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="state" class="form-control" required placeholder="state">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="zip" class="form-control" required placeholder="zip">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" name="email" class="form-control" required placeholder="email">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="username" id="name" required placeholder="Username">
                                            </div>
                                            <div class="input-field">
                                                <input type="password" name="password" class="form-control"required placeholder="password">
                                            </div>
                                            <div class="input-field">
                                                <input type="password" name="password2" class="form-control" required placeholder="Confirm password">
                                            </div>
                                            <button class="btn" type="submit", value = "Signup">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>