
<h2>Add Lesson</h2>
<form id="regForm" method="post" action="/instructors/classes/{{class_id}}/lessons/new">
	<div>
		<label>Lesson Number: </label>
		<input type="text" name="lesson_number">
	</div><br />
	<div>
		<label>Lesson Title: </label>
		<input type="text" name="lesson_title">
	</div><br />
	<div>
		<label>Lesson Body: </label>
		<textarea name="lesson_body"></textarea>
	</div><br />
	<div>
		<input type="submit" value="Add Lesson">
	</div>
</form>
<div class="section animated-row" data-section="slide07">
                <div class="section-inner mt-12">
                    <div class="row justify-content-center">
                        <div class="col-md-12 wide-col-laptop" >
                            <div class="title-block animate" data-animate="fadeInUp">
                            
                                <h1>User Login</h1>
                            </div>
                                    <div class="col-md-14 animate" data-animate="fadeInUp">
                                        <form id="regForm" method="post" action="/instructors/classes/{{class_id}}/lessons/new">
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="lesson_number" required placeholder="Lesson number">
                                            </div>
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="lesson_title" required placeholder="Lesson tittle">
                                            </div>
                                            <textarea name="lesson_body" class="form-control" placeholder="Lesson body"></textarea>
                                            <button class="btn" type="submit">Add lesson</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>