

<div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
								<a href="/classes/{{class._id}}/lessons">Back to lessons</a>
								<h2>{{lesson.lesson_title}}</h2>
								{{lesson.lesson_body}}
							</div>
						</div>
					</div>
			</div>
</div>